extends ../layouts/default

block variables

block content
  include ../../components/info/info
  h1.title Тестовое задание ONLY
  .wrapper 
    +info({ description:'qwerty', style:'top:66.11%;left:23.22%;'})
    +info({ description:'top frontend', style:'top:26.11%;left:30.21%;'})
    +info({ description:'top frontend', style:'top:44.63%;left:35.78%;',color:'green'})
    +info({ description:'top frontend', style:'top:58.24%;left:56.3%;'})
    +info({ description:'top frontend', style:'top:73.15%;left:57.66%;',color:'green'})
    +info({ description:'top frontend', style:'top:37.4%;left:59.79%;',color:'green'})
    +info({ description:'top frontend', style:'top:61.94%;left:68.02%;',color:'green'})
    +info({ description:'top frontend', style:'top:20.83%;left:71.51%;'})
    +info({ description:'top frontend', style:'top:43.98%;left:73.65%;'})
    +info({ description:'top frontend', style:'top:66.02%;left:82.96875%;'})
