.wrapper {
  max-width: 1920px;
  min-width: 1280px;
  background-image: url('../../assets/images/main.jpg');
  background-size: cover;
  position: relative;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.title {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin: 10px auto;
  text-align: center;
}